*{
	margin: 0;
	padding: 0;
}
#top{
	text-align: center;
}
#top img{
	height: 90px;
	width: 160px;
}
#center{
	text-align: center;
	background-color: #D3D3D3;
	height: 310px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
#center img{
	height: 90px;
	width: 90px;
	margin-top: 20px;
}
#emailbox {
	height:35px; 
	width: 280px;
	font-size:14pt;
	margin-top: 50px;
}
#button1{
	height:38px; 
	width: 284px;
	margin-top: 10px;
	background-color: blue;
}
#center p{
	color: blue;
	width: 100px;
	margin-left: 220px;
}
#center a{
	text-decoration: none;
}
#center a:hover {
    text-decoration: underline;
}
#bottom{
	text-align: center;
	height: 90px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
#bottom a{
	text-decoration: none;
}
#bottom a:hover {
    text-decoration: underline;
}
#footer{
	margin-top: 137px;
	height: 30px;
    border-style: groove;
    border-width: medium;
	margin-bottom: 0;
}
#footer ul  {
	margin-left: 60px;
}
#footer ul li {
	float: left;
	display: inline;
	text-decoration: none;
	margin-top: 2px;
	}
#footer ul li a{
	text-decoration: none;
	padding-right: 14px;
	color: black;
	}
#footer select{
	float: right;
	margin-right: 40px;
}